@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@theme {
  --color-green: #a4ffaf;
  --color-yellow: #f8cd65;
  --color-orange: #fb7c58;
  --color-red: #f64a4a;
  --color-gray-200: #e6e5ea;
  --color-gray-600: #817d92;
  --color-gray-700: #54535b;
  --color-gray-800: #24232c;
  --color-gray-850: #18171f;
  --color-gray-900: #14131b;
  --color-gray-950: #08070b;

  --text-preset-1: 32px;
  --text-preset-1--line-height: 42px;

  --text-preset-2: 24px;
  --text-preset-2--line-height: 32px;

  --text-preset-3: 18pxx;
  --text-preset-3--line-height: 24px;

  --text-preset-4: 16px;
  --text-preset-4--line-height: 20px;

  --font-mono: "JetBrains Mono", monospace;
}

* {
  box-sizing: border-box;
}

html {
  font-family: var(--font-mono);
  background-color: black;
}

/* Custom slider */
.slider::-webkit-slider-thumb {
  appearance: none;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background: var(--color-gray-200);
  cursor: pointer;
  border: 2px solid var(--color-gray-200);
}

.slider::-webkit-slider-thumb:hover {
  background: var(--color-gray-850);
  border: 2px solid var(--color-green);
}

.slider::-moz-range-thumb {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background: var(--color-gray-200);
  cursor: pointer;
  border: 2px solid var(--color-gray-200);
}

.slider::-moz-range-thumb:hover {
  background: var(--color-gray-850);
  border: 2px solid var(--color-green);
}

/* Custom checkbox styles */
.custom-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--color-gray-200);
  background-color: var(--color-gray-800);
  cursor: pointer;
  position: relative;
  margin-right: 16px;
}

.custom-checkbox:hover {
  border: 2px solid var(--color-green);
}

.custom-checkbox:checked {
  background-color: var(--color-green);
  border-color: var(--color-green);
}

.custom-checkbox:checked::after {
  content: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.06055 5.66726L4.45395 9.06067L12.454 1.06067' stroke='%2318171F' stroke-width='3'/%3E%3C/svg%3E%0A");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Focus styles for accessibility */
.custom-checkbox:focus {
  /* outline: 2px solid var(--color-green); */
  outline-offset: 2px;
}
