@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@theme {
  --color-green: #a4ffaf;
  --color-yellow: #f8cd65;
  --color-orange: #fb7c58;
  --color-red: #f64a4a;
  --color-gray-200: #e6e5ea;
  --color-gray-600: #817d92;
  --color-gray-700: #54535b;
  --color-gray-800: #24232c;
  --color-gray-850: #18171f;
  --color-gray-900: #14131b;
  --color-gray-950: #08070b;

  --text-preset-1: 32px;
  --text-preset-1--line-height: 42px;

  --text-preset-2: 24px;
  --text-preset-2--line-height: 32px;

  --text-preset-3: 18pxx;
  --text-preset-3--line-height: 24px;

  --text-preset-4: 16px;
  --text-preset-4--line-height: 20px;

  --font-mono: "JetBrains Mono", monospace;
}

* {
  box-sizing: border-box;
}

html {
  font-family: var(--font-mono);
}
